<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777690865265-b9d198if13oh95bsdjbbv0bi8ufsbs1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777690865265-b9d198if13oh95bsdjbbv0bi8ufsbs1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBTqRHlY02HmDzR4WPMxLP5vaSQ1Kt8gJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>777690865265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.everyvoice.dev</string>
	<key>PROJECT_ID</key>
	<string>everyvoice-f69c2</string>
	<key>STORAGE_BUCKET</key>
	<string>everyvoice-f69c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777690865265:ios:6707c59c8e69b2418685d0</string>
</dict>
</plist>